<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735650776284-hplhdl1mj4jntp30qnv6t683mf91cbvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735650776284-hplhdl1mj4jntp30qnv6t683mf91cbvs</string>
	<key>API_KEY</key>
	<string>AIzaSyB04i_WRi6YCwMdfxk6lL2VLO6Vq-UjjXM</string>
	<key>GCM_SENDER_ID</key>
	<string>735650776284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gajraj.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-gajraj-flutterfire</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-gajraj-flutterfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735650776284:ios:cf8fa8374d3c2af25b6019</string>
</dict>
</plist>